<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">

    <title>Cities and Hotels</title>

    <style>
        #city {
            width: 200px;
        }

        .input {
            width: 400px;
        }

        .delete {
            background: red;
        }
    </style>
</head>
<body class="container is-fluid">

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Hotels
            </h1>
        </div>
    </div>
</section>

<br>

<h1>
    {% if city %}
        {{ city.0.name }} | {{ city.0.code }}
    {% else %}
        All cities
    {% endif %}
</h1>

<br>
<br>

<form method="post">
    <div class="ui-widget">
        <input type="hidden" value="update_city" name="action">
        <input class="input is-focused" type="text" name="city" id="city" placeholder="Select city">
        <input class="button is-success" type="submit" value="Search">
    </div>
</form>

<br>

<form method="post">
    <input type="hidden" name="action" value="add_hotel">
    <input class="input" type="text" name="hotel_name" id="add" placeholder="Add hotel">
    <div class="select">
        <select name="city">
            {% for city in cities %}
                <option value={{ city }}>{{ city }}</option>
            {% endfor %}
        </select>
    </div>
    <input class="button is-info" type="submit" value="+">
</form>

<br>

<table class="table is-bordered is-striped is-narrow is-hoverable">
    <thead>
    <tr>
        <th>Hotel Code</th>
        <th>Hotel Name</th>
    </tr>
    </thead>
    <tbody>
    {% for hotel in hotels %}
        <tr id={{ hotel.code }}>
            <td>{{ hotel.code }}</td>
            <td>{{ hotel.name }}</td>
            <td style="width: 10px;">
                <a class="delete" data-hotel-code={{ hotel.code }}>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</body>

</html>

{% block javascripts %}
    <script>
        let cities = {{ cities|safe }};
        $('#city').autocomplete({
            source: cities
        });

        $('.delete').click(function () {
            let row = $(this).parent('td').parent('tr');
            row.hide();
            $.ajax({
                type: "POST",
                data: {'hotel_code': row.attr('id'), 'action': 'delete_hotel'},
                success: function (data) {
                    row.hide();
                }
            });
        });
    </script>
{% endblock javascripts %}
